<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="~/css/index.css">
<head>
    <meta charset="UTF-8">
    <title>Motor Bike Suit</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <header>
        <div>
            <img src="~/images/ex1.jpg" alt="" width="1300" height="300" id="section1">
        </div>
        <div class="w3-bar w3-black">
        </div>
        <div class="menu">
            <a href="/Home/index" class="w3-bar-item w3-button">Home</a>
            <a href="/Suits/index" class="w3-bar-item w3-button">MotorBike suits</a>
            <a href="/Shoes/index" class="w3-bar-item w3-button">Leather shoes</a>
            <a href="/Jackets/index" class="w3-bar-item w3-button">Jackets</a>
            <a href="#section2" class="w3-bar-item w3-button">Contact us</a>
            <a href="~/js/form.html" target="_blank" class="w3-bar-item w3-button">Form</a>
            <br />
        </div>
        <img src="~/images/logo.jpg" alt="" height="150">
    </header>


    <h2 id="h2">All kind of motorbike leather products are available here.</h2>

    <dl>
        <dt id="dt">What we have?</dt>
        <dd>
            <ul type="circle">
                <li>Motorbike Suits</li>
                <li>Jackets</li>
                <li>Shoes</li>
            </ul>
        </dd>
    </dl>
    <h1>Motor Bike Leather suits</h1>
    <h2>Jackets and shoes</h2>
    <footer id="footer">
        <center>
            CEO: Haseeb Cheema
        </center>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br /><br /><br /><br />
        <center>
            <h3 id="section2">Contact us</h3>
            <h3>motorbikesuits34@gmsil.com</h3>
            &copy;
        </center>
    </footer>
    <a href="#section1">Go to top</a>
</body>
</html>@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
