@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Jackets</title>
</head>
<link rel="stylesheet" href="~/css/index.css">
<body>
    <header>
        <div>
            <img src="~/images/ex1.jpg" alt="" width="1300" height="300" id="section1">
        </div>
        <div class="w3-bar w3-black">
        </div>
        <div class="menu">
            <a href="/Home/index" class="w3-bar-item w3-button">Home</a>
            <a href="/Suits/index" class="w3-bar-item w3-button">MotorBike suits</a>
            <a href="/Shoes/index" class="w3-bar-item w3-button">Leather shoes</a>
            <a href="/Jackets/index" class="w3-bar-item w3-button">Jackets</a>
            <a href="#section2" class="w3-bar-item w3-button">Contact us</a>
            <a href="~/js/form.html" target="_blank" class="w3-bar-item w3-button">Form</a>
            <br />
        </div>
        <img src="~/images/logo.jpg" alt="" height="150">
    </header>
    <span>
        <br>
        <img src="~/images/j1.jpg" alt="">
        <img src="~/images/j2.jpg" alt="">
    </span>
    <a href="index.html">Go to menu</a>
    <footer id="footer">
        <center>
            CEO: Haseeb Cheema
        </center>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br /><br /><br /><br />
        <center>
            <h3 id="section2">Contact us</h3>
            <h3>motorbikesuits34@gmsil.com</h3>
        </center>
    </footer>
</body>
</html>
